[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-colorfield = "*"
django-admin-thumbnails = "*"

[dev-packages]

[requires]
python_version = "3.10"
