{% extends "_base.html" %}
{%block content%}
{%load static%}
<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
    <article class="gallery-wrap"> 
        <div class="img-big-wrap featured">
           <a href="#"><img src="{{product.image.url}}"></a>
        </div> <!-- img-big-wrap.// -->
        
    </article> <!-- gallery-wrap .end// -->
    <center>
    <div  class="d-flex justify-content-center " id="slide-wrapper">
        <ul class="thumb ">
        <li>
            <a href="{{product.image.url}}" target="featured"><img src="{{product.image.url}}"></a>

            {% for variation in product_variation %}
            <a href="{{variation.image.url}}" target="featured"><img active src={{variation.image.url}} alt="{{variation.product}}"> </img></a>
            {%endfor%}
        </li>
    </ul>
    </div>
</center>
            </aside>
            <main class="col-md-6 border-left">
              <form action="{% url "add_cart_from_product_details" product.id %}" method="GET"    >
    <article class="content-body">
        {% csrf_token %}
    <h2 class="title">{{product.title}}</h2>
    
    <div class="mb-3"> 
        <var class="price h4">৳{{product.price}}  <p class="text-muted small">*Price may vary with different Sizes </p></var> 
    </div> 
    
    <p>{{product.description}}</p>
    
    
    <hr>
       {% comment %} {% if color_len > 0 %} {% endcomment %}
        <div class="row ">
            <div class="item-option-select">
                
                <h6>Select color</h6>
                    {% for color in colors %}
                    <div style="background-color:{{color}}; display:inline-block ; border: 2px solid black;
                    border-radius: 5px 20px 5px; padding-right:10px; padding-left:10px; float: left;" id="buttons">
                      <input type="radio"  class="radio" value="{{color}}" name="color"   id="radio{{color}}" {%if color == color1 %}checked{% endif %} />
                                               
                </div> 
                                                
                   {% endfor %}
                </div>
            </div> <!-- row.// -->
            {% comment %} {%endif%} {% endcomment %}
            <hr>
            <div class="row">
                <div class="item-option-select">
    
                    <h6>Select Size</h6>
                    <select name="size" class="form-control">
                        {%for size in sizes%}
    
                        <option value="{{size}}">{{size}}</option>
                        {%endfor%}
    
                      
                                     </select>
                                    
                </div>
            </div>
                                                   
                               
          
       
            {% if messages%}
            <div class="alert alert-warning">
            {%for message in messages %}
            <a >{{message}}</a>
            </div>
            {%endfor%}

            {%endif%}
            
            
        <hr>
       
        {%if stock.stock__sum == 0 %}
        <a class="btn  btn-danger"> <span class="text">Out of stock</span> <i class="fas fa-shopping-cart"></i>  </a>
   

    {%else%}
    <button class="btn  btn-primary " type="submit"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </button>
{%endif%}








    </article> 

  </form>
    <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    <br>
    
    <div class="row">
                <div class="col-md-9">
    
        <header class="section-heading">
            <h3>Customer Reviews </h3>  
            
        </header>
    
        <article class="box mb-3">
            <div class="icontext w-100">
                <img src="{% static './images/avatars/avatar1.jpg' %}" class="img-xs icon rounded-circle">
                <div class="text">
                    <span class="date text-muted float-md-right">24.04.2020 </span>  
                    <h6 class="mb-1">Shrek </h6>
                    
                </div>
            </div> <!-- icontext.// -->
            <div class="mt-3">
                <p>
                    Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip
                </p>	
            </div>

        </article>
    
        
    
        </div> <!-- col.// -->
    </div> <!-- row.// -->
    
    
    </div> <!-- container .//  -->
    </section>
    
    
    <!-- ========================= SECTION CONTENT END// ========================= -->
    <script>
        $(document).ready(function(){
         $('.thumb a').click(function(e){
           e.preventDefault();
           $('.featured img').attr('src', $(this).attr("href"));
     
         })
        })
     
     
     </script>
{%endblock%}